<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=#{field.google_api_key}&sensor=true" %>

<script type="text/javascript">
function init_map_field(){
  var isMarker = false;
  var myOptions = {
    zoom:<%=field.default_zoom_level %>,
    center: new google.maps.LatLng(47.919146, 106.917765),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

  google.maps.event.addListener(map, 'click', function(event){
    alert('Lat: ' + event.latLng.lat() + ' and Longitude is: ' + event.latLng.lng());

    var image = 'google_marker.jpg';
    var myLatLng = new google.maps.LatLng(event.latLng.lat(), event.latLng.lng());
    var beachMarker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      icon: image
    });
    init_marker(<%= field.latitude_dom_name %>,<%= field.longitude_dom_name %>, event.latLng.lat(), event.latLng.lng());
  });
}

function init_marker(lat_name, lon_name, lat, lon){
  if(lat_name != null && lon_name != null){
    document.getElementByName(lat_name).value(lat);
    document.getElementByName(lon_name).value(lon);
  }
}

google.maps.event.addDomListener(window, 'load', init_map_field);

</script>

<div class="map-container" id="map-canvas" style="width:800px; height:400px;">

</div>
