<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=#{field.google_api_key}&sensor=true" %>

<script type="text/javascript">
  function init_map_field(){
      var myOptions = {
        zoom: 14,
        center: new google.maps.LatLng(47.919146, 106.917765),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

      google.maps.event.addListener(map, 'click', function(event){
        alert('Lat: ' + event.latLng.lat() + ' and Longitude is: ' + event.latLng.lng());
      });
  }

  google.maps.event.addDomListener(window, 'load', init_map_field);


</script>

<div class="map-container" id="map-canvas" style="width:800px; height:400px;">

</div>
